@font-face {
  font-family: "iconfont"; /* Project id 3286944 */
  src: url('iconfont.woff2?t=1649753193350') format('woff2'),
       url('iconfont.woff?t=1649753193350') format('woff'),
       url('iconfont.ttf?t=1649753193350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-bofang:before {
  content: "\e625";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-huanyihuan:before {
  content: "\e62d";
}

.icon-gouwucheman:before {
  content: "\e601";
}

.icon-fanhui21:before {
  content: "\e602";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-jushou:before {
  content: "\e61b";
}

.icon-fanhui1:before {
  content: "\e8a4";
}

.icon-fanhui2:before {
  content: "\e624";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-shouyefill:before {
  content: "\e750";
}

.icon-weizhi:before {
  content: "\e600";
}

.icon-fangdajing:before {
  content: "\e800";
}

