* {
    margin: 0;
    padding: 0;
}
.tb {
    width: 1201px;
    height: 400px;
    background-color: #ff9fff;
    margin: 0 auto;
}
.tb ul li {
    border: 1px solid #aaaaaa;
    width: 239px;
    height: 398px;
    background-color: #acff9b;
    float: left;
    position: relative;
}
.tb ul li:hover {
    
    border: 1px solid #ff6600;
    z-index: 1;
}
.tb .fuzhi {
    margin-left: -1px;
}
.zq {
    width: 560px;
    height: 117px;
    background-color: #ff9fff;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
}
.zq img {
    float: left;
    width: 200px;
    height: 117px;
    border-radius: 5px;
    margin-right: 20px;
    
}
.zq .bf {
    position: absolute;
    top: 97px;
    left: 150px;
    /* background-color: #ff9fff; */
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 10px;
    border-radius: 2px;
    font-size: 8px;
}
.bf p {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #fff;
    border-right: 3px solid transparent;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    left: 7px;
}
.bf span {
    position: absolute;
    left: 13px;
    color: #fff;
}
.box {
    background-color: #fff;
    font-size: 10px;
    text-align: center;
}
.box a {
    display: inline-block;
    text-decoration: none;
    width: 16px;
    height: 16px;
    background-color: #dfdfdf;
    border: 1px solid #aaaaaa;
    color: #000;
    text-align: center;
    line-height: 16px;
}
.box .shangyy,
.box .xiayy {
    width: 56px;
}
.box .xuanz {
    border: 0;
    background-color: #fff;
}
.box input {
    width: 30px;
    height: 16px;
    outline: 0;
}
.box button {
    width: 30px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #aaa;
    outline: 0;
}
.nb {
    position: relative;
    width: 150px;
    height: 25px;
    /* background-color: #ff9fff; */
    border: 3px solid red;
    margin: 0 auto;
}
.qhsjx {
    border-right: 15px solid rgb(211, 211, 211);
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 45px;
    top: 0;
}
.nb .zuo {
    height: 25px;
    float: left;
    width: 85px;
    background-color: red;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}
.nb .you {
    color: #686868;
    float: right;
    height: 25px;
    width: 65px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    text-decoration: line-through;
    line-height: 25px;
    font-weight: 700;
}
form input {
    display: block;
}
li {
    list-style: none;
}